<div id="HomePageBox">
  <div id="NodePresentation" data-ng-if="public.node.presentation">{{public.node.presentation}}</div>

  <div id="WhistleblowerBox" class="d-block mx-auto">
    <div id="WhistleblowerSubmitBoxButtonDisabled" data-ng-show="public.node.disable_submissions || (!public.node.https_whistleblower && !connection.tor)">
      <button class="btn btn-danger disabled">
        <i class="fas fa-ban-circle"></i>
        <span data-translate>Submissions disabled</span>
      </button>
    </div>
    <div data-ng-show="!public.node.https_whistleblower && !connection.tor">
      <p class="text-danger" data-translate>You are connecting to the server without anonymity and this server supports only anonymous submissions</p>
    </div>
    <div data-ng-show="!public.node.disable_submissions && (public.node.https_whistleblower || connection.tor)">
      <div id="WhistleblowerSubmitBox">

        <div id="WhistleblowingQuestion">{{public.node.whistleblowing_question}}</div> 
        <div id="WhistleblowingButton">
          <button data-ng-click="evaluateDisclaimerModalOpening() || setPage('submissionpage')" class="btn btn-primary">{{public.node.whistleblowing_button}}</button>
        </div>
      </div>
      <div id="WhistleblowerReceiptBox" data-ng-include="'views/partials/wb_login_box.html'"></div>
    </div>
  </div>
</div>
